.contact-buttons {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  margin: 20px 0; 
}

.contact-button {
  background-color: transparent; 
  color: white; 
  padding: 1.5rem; 
  border: none; 
  border-radius: 50%; 
  margin: 0.5rem; 
  transition: background-color 0.3s; 
  flex: 0 1 75px; 
}

.contact-button:hover {
  background-color: #185a9c; 
}
