.dropdown {
    position: relative; /* Cambiado de absolute a relative para que no afecte el flujo del contenedor */
    padding-bottom: 60px;
}

.dropdown-toggle {
    background-color: #185a9c; /* Color de fondo azul oscuro */
    color: #FFFFFF; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 12px 24px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente */
    min-width: 150px; /* Ancho mínimo para evitar el cambio de tamaño */
    outline: none; /* Asegúrate de que no haya un contorno visible al hacer clic */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

.dropdown-toggle:hover {
    background-color: #E0E0E0; /* Color de fondo al pasar el ratón (naranja) */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Sombra más intensa al pasar el ratón */
}

.dropdown-menu {
    position: absolute; /* Posiciona el menú desplegable */
    top: 100%; /* Alinea el menú justo debajo del botón */
    left: -6.5%;
    background-color: #3A3A3A; /* Color de fondo amarillo suave */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 5px; /* Espaciado entre el botón y el menú */
    padding: 10px 0; /* Espaciado interno del menú */
    z-index: 1000; /* Asegúrate de que el menú se muestre por encima de otros elementos */
    width: auto; /* O establece un ancho específico si deseas */
    border: 1px solid black; /* Borde negro alrededor del menú */
    visibility: hidden; /* Oculta el menú por defecto */
    opacity: 0; /* Inicia en opacidad 0 */
    transition: visibility 0s, opacity 0.5s ease; /* Transición suave */
}

.dropdown-menu.show {
    visibility: visible; /* Muestra el menú cuando está abierto */
    opacity: 1; /* Aumenta la opacidad a 1 */
}

.dropdown-menu li {
    list-style: none; /* Sin viñetas */
}

.dropdown-menu a {
    color: #B3B3B3; /* Color del texto del menú (azul oscuro) */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Cada ítem ocupa toda la línea */
    font-size: 1.5rem; /* Tamaño de fuente de los elementos del menú */
}

.dropdown-menu a:hover {
    background-color: #FFFFFF; /* Color al pasar el ratón (naranja) */
}
